
.vs/MenuSample/v15/.suo
*.lock
.vs/MenuSample/v15/Server/sqlite3/*.ide*
Avinode.Menu.BusinessObjects/bin/Debug/*.*
Avinode.Menu.BusinessObjects/obj/Debug/*.*
Avinode.Menu.Entities/bin/Debug/*.*
Avinode.Menu.Entities/obj/Debug/*.*
MenuSample/bin/Debug/*.*
MenuSample/obj/Debug/*.*
Tests/bin/Debug/*.*
Tests/obj/Debug/*.*
Avinode.Menu.BusinessObjects/bin/Release/*.*
Avinode.Menu.BusinessObjects/obj/Release/*.*
Avinode.Menu.Entities/bin/Release/*.*
Avinode.Menu.Entities/obj/Release/*.*
MenuSample/bin/Release/*.*
MenuSample/obj/Release/*.*
Tests/bin/Release/*.*
Tests/obj/Release/*.*
Tests/*.user